@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F7F7F5;
  color: #1A1A18;
}

/* Prevent scroll from changing number input values */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
